@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
}
/*---- Header Section ---- */
header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  background-color: #3c3a39;  
  width: 375px;
  height: 60px;
}
.logo_menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.logo, 
.burger{
  margin: 10px;
  color: #fff;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.intro_container{
  width: 375px;
  height: 700px;
  background-color: #1c1a19;
  background-image: url(assets/Illustration.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.name{
  display: flex;
  justify-content: center;
  margin: 120px 24px 10px;
}
.name > h1{
  width: 327px;
  height: 124px;
  color: #ff6b00;
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
}
.slogan {
  display: flex;
  justify-content: center;
  margin: 12px 24px 10px;
}
.slogan > h2{
  width: 327px;
  height: 27px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
}
.desc{
  display: flex;
  justify-content: center;
  margin: 12px 24px 10px;
}

.desc > p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.c_pro > a {
  padding: 12px;
  text-decoration: none;
  color: #fff;
  width: 100px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.btn > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}

.contact {
  width: 200px;
  height: 40px;
  color: #dbd8d7;
  font-size: larger;
  margin: 10px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}
.contact > ul {
  display: flex;
}

.contact > ul li {
  list-style: none;
}

.abt-btn > a {
  padding: 12px;
  text-decoration: none;
  color: #fff;
  width: 132px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.contact > ul li a {
  color: #dbd8d7;
  list-style: none;
  padding: 8px;
}

/* ---- My Work --*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recent_work{
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 120px 24px 10px;
}
.recent_work > h2 {
  width: 327px;
  height: 83px;
  font-family: 'Crete Round', serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: #1c1a19;
}

.line {
  width: 327px;
  height: 0px;
  margin: 10px 24px 80px;
}

.post_img {
  width: 327px;
  height: 237px;
  background-image: url(assets/Img\ Placeholder.png);
  background-repeat: no-repeat;
  margin: 10px 24px 24px;
}

.mutli_post {
  width: 327px;
  height: 36px;
  margin: 12px 24px 12px;
}

.mutli_post > h2 {
  font-family: 'Crete Round', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: #091e42;
}

.txt {
  width: 327px;
  height: 147px;
  margin: 12px 24px 12px;
}

.txt > p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.projects > ul {
  display: flex;
  flex-direction: row;
  margin: 12px 24px 12px;
}

.projects > ul li {
  padding: 10px 12px;
  list-style: none;
  border: 1px solid #8993a4;
  background: #fff;
  margin: 0 12px 0 0;
}

.projects > ul li a {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  text-decoration: none;
}

.c_pro {
  display: flex;
  width: 124px;
  height: 48px;
  margin: 12px 24px 12px;
  background-color: #ff6b00;
}

.posts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 386px;
  width: 327px;
  left: 0;
  top: 0;
  border-radius: 0;
  background: url(assets/1.png);
  margin: 12px 24px 12px;
}

.p_title > h1 {
  width: 295px;
  height: 81px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  margin: 72px 13px 19px 10px;
  color: #fff;
}

.p_title > p {
  width: 301px;
  height: 99px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  margin: 12px 13px 13px;
}

.p_p > ul {
  margin: 12px 13px 13px;
}

.p_p > ul li {
  background: rgba(255, 255, 255, 0.24);
  padding: 10px 12px;
  list-style: none;
  margin: 0 12px 0 0;
  float: left;
}

.p_p > ul li a {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
}

.btn {
  width: 327px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #ff6b00;
}
.abt-wrapper{
  background: #1c1a19;
  color: #fff;
  width: 375px;
}
.about-me{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}
.text-about {
  background-image: url(assets/about-me.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 2px;
  height: 75vh;
}

.text-about > h2 {
  font-family: 'Crete Round', sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 88px;
  text-align: left;
  color: #ff6b00;
  margin: 120px 24px 24px;
}


.text-about > p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #f4f5f7;
  margin: 24px;
}
.abt-hr{
  width: 327px;
   margin: 12px 24px 24px;
}
.lang-menu {
  background-color: #1c1a19;
  color:#f4f1f0;
  margin: 4rem auto;
}

.lang-menu li {
  list-style: none;
  font-size: 20px;
  text-align: center;
  line-height: 3.5rem;
  line-height: 3rem;
  font-family: 'inter', 'cursive', Times, serif;

}
.abt-btn {
  display: flex;
  width: 156px;
  height: 48px;
  margin: 12px 24px 12px;
  background-color: #ff6b00;
}


.rect {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rect > img {
  display: flex;
  position: relative;
  top: 20px;
  margin-right: 12px;
  width: 18px;
  height: 18px;
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_upper {
  width: 327px;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.form_upper > h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin: 69px 24px 24px 0px;
}

.contact_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 24px;
  gap: 58px;
}

.contact_form input {
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  padding: 8px;
}

textarea {
  width: 100%;
  border: none;
  background-color: #fbf8f7;
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding: 12px 20px;
}

.sub-btn {
  background-color: #ff6b00;
  border: none;
  color: white;
  padding: 12px;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.sub-btn:hover {
  border: 1px solid #f55800;
  background-color: #fff5e1;
  color: #f55800;
}

.sub-btn:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.sub-btn:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.f_line {
  width: 327px;
  height: 1px;
  background: #dfe1e6;
  border: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.f_contact > ul {
  display: flex;
  flex-direction: row;
  margin-top: -70px;
}

.f_contact > ul li {
  list-style: none;
  align-items: center;
}

.f_contact > ul li a {
  color: #505f79;
  list-style: none;
  padding: 8px;
  font-size: 20px;
}