
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@100&family=Poppins&family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
}

/* Navbar */
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 76px;
  background-color: #3c3a39;
}

.nav .fa-bars {
  display: flex;
  color: #fff;
}

.nav-list {
  display: none;
}

.nav-list li {
  list-style: none;
}

.nav-list li a {
  padding: 10px;
  text-decoration: none;
  color: white;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}


/* ----- Introduction Section ------ */
.intro {
  background-color: #1c1a19;
  background-image: url(assets/Illustration.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 192px 0;
  gap: 24px;
}

.head {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.head > h1 {
  color: #ff6b00;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 82px;
  overflow-wrap: break-word;
}

.head > h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  overflow-wrap: break-word;
}

.head > p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #f4f5f7;
  overflow-wrap: break-word;
}

.contact {
  width: 80%;
}

.contact > ul {
  display: flex;
}

.contact > ul li {
  list-style: none;
  padding: 8px;
}

.contact > ul li a {
  color: #dbd8d7;
}

/* --- My Work Section ---- */
.works {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my_works {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my_works > h1 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  margin-top: 120px;
  margin-bottom: 24px;
}

.works_hr {
  border: 1px solid #212121;
  width: 80%;
  height: 0;
  margin-top: 24px;
  margin-bottom: 80px;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 24px;
}

.post > img {
  width: 80%;
  height: 80%;
}

.multi-post {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.multi-post > h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}

.multi-post > p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  overflow-wrap: break-word;
}

.multi-post ul {
  display: flex;
}

.multi-post ul li {
  list-style: none;
  padding: 12px 10px;
  border: 1px solid #8993a4;
  margin: 0 12px 0 0;
}

.multi-post ul li a {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  text-decoration: none;
}

.btn-orange {
  width: 124px;
  height: 48px;
  background: #f55800;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  padding: 12px;
  color: #fff;
}

.btn-orange:hover {
  border: 1px solid #f55800;
  background-color: #fff5e1;
  color: #f55800;
}

.btn-orange:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.btn-orange:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.project-card {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-content: center;
  padding-top: 24px;
  padding-bottom: 130px;
}

.card {
  height: 327px;
  width: 386px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
}

.card1 {
  background-image: url(assets/card1.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
}

.card-btn {
  width: 100%;
}

.card2,
.card5 {
  background-image: url(assets/card2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.card3,
.card6 {
  background-image: url(assets/card3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.card4 {
  background-image: url(assets/card4.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.card > h1 {
  width: 80%;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.card > p {
  width: 80%;
  overflow-wrap: break-word;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

.card ul {
  width: 80%;
  display: flex;
  align-items: center;
}

.card ul li {
  list-style: none;
  background-color: rgba(255, 255, 255, 0.24);
  padding: 10px 12px;
  margin: 0 12px 0 0;
  color: #fff;
}

.card > ul {
  margin-bottom: 16px;
}

/* ----- About me Section ---- */
.about-me {
  background-color: #1c1a19;
  background-image: url(assets/about-me.png);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: bottom right;
  background-position-y: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.abt {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 209px 0;
  gap: 24px;
}

.abt > h1 {
  width: 100%;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 82px;
  color: #f55800;
  overflow-wrap: break-word;
}

.abt > p {
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #f4f5f7;
}

.abt-btn {
  width: 156px;
  height: 48px;
}

.abt_hr {
  width: 80%;
  height: 0;
  border: 1px solid #fff;
}

.experience {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 130px 0;
}

.language > ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.language > ul li h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.skills > ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frameworks > ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cont > p {
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  overflow-wrap: break-word;
}

.f_contact > ul li {
  list-style: none;
  align-items: center;
}

.language > ul li ul li {
  list-style: none;
  padding: 32px 0 32px 0;
}

.language > ul li ul li p {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
}

.skills > ul li h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.skills > ul li ul li {
  list-style: none;
  padding: 32px 0 32px 0;
}

.skills > ul li ul li p {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
}

.frameworks > ul li h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.frameworks > ul li ul li {
  list-style: none;
  padding: 32px 0 32px 0;
}

.frameworks > ul li ul li p {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
}

/* --- Contact form Section --- */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 130px 0;
  gap: 24px;
}

.cont {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 24px;
}

.contact-form {
  width: 100%;
}

.contact-form > form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-input {
  display: flex;
  width: 100%;
  gap: 24px;
}

.form-input > input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  padding: 14px;
}

#email {
  border: none;
  border-bottom: 1px solid #dbd8d7;
  padding: 14px;
}

#lastName {
  display: none;
}

input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

#message {
  background: #fbf8f7;
  padding: 12px;
  border: none;
}

textarea::placeholder {
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
}

.form-btn {
  padding: 12px;
  gap: 10px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

/* -----Footer Section ---- */
.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  border-top: 1px solid #dfe1e6;
}

.f_contact {
  width: 375px;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.f_contact > ul {
  display: flex;
  flex-direction: row;
}

.f_contact > ul li a {
  color: #505f79;
  list-style: none;
  padding: 8px;
  font-size: 20px;
}

.animation:hover {
  transform: scale(1.4);
  transition: ease-out 0.3;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 76px;
    background-color: #3c3a39;
  }

  .nav .fa-bars {
    display: none;
  }

  .nav-list {
    display: flex;
  }

  .nav-list li {
    list-style: none;
  }

  .nav-list li a {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  /* ----- Introduction Section ------ */

  .intro {
    background-color: #1c1a19;
    background-image: url(assets/Illustration-header.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 192px 0;
    gap: 24px;
  }

  .head {
    width: 30%;
    order: 2;
    display: flex;
    flex-direction: column;
    padding: 192px 0;
    gap: 24px;
  }

  .head > h1 {
    color: #ff6b00;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    overflow-wrap: break-word;
  }

  .head > h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    overflow-wrap: break-word;
  }

  .head > p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    overflow-wrap: break-word;
  }

  .contact {
    width: 0;
    margin-right: 143px;
    margin-left: 32px;
  }

  .contact > ul {
    display: flex;
    flex-direction: column;
  }

  .contact > ul li {
    list-style: none;
    padding: 8px;
  }

  .contact > ul li a {
    color: #dbd8d7;
  }

  /* --- My Work Section ---- */
  .works {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .my_works {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .my_works > h1 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
  }

  .works_hr {
    border: 1px solid #212121;
    width: 70%;
    height: 0;
  }

  .my_works > h1,
  .works_hr {
    margin: 130px 35px 114px;
  }

  .post {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    width: 80%;
    gap: 24px;
  }

  .post > img {
    width: 50%;
    height: 50%;
  }

  .multi-post {
    width: 29%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .multi-post > h2 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
  }

  .multi-post > p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    overflow-wrap: break-word;
  }

  .multi-post ul {
    display: flex;
  }

  .multi-post ul li {
    list-style: none;
    padding: 12px 10px;
    border: 1px solid #8993a4;
    margin: 0 12px 0 0;
  }

  .multi-post ul li a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #091e42;
    text-decoration: none;
  }

  .btn-orange {
    width: 124px;
    height: 48px;
    background: #f55800;
    border: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    padding: 12px;
    color: #fff;
  }

  .btn-orange:hover {
    border: 1px solid #f55800;
    background-color: #fff5e1;
    color: #f55800;
  }

  .btn-orange:active {
    background-color: #e05304;
    color: #f4f1f0;
  }

  .btn-orange:disabled {
    background-color: #f4f1f0;
    color: #5b5957;
  }

  .project-card {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    align-content: center;
    padding-top: 24px;
    padding-bottom: 130px;
  }

  .card {
    height: 535px;
    width: 469px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
  }

  .card1 {
    background-image: url(assets/card1.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
  }

  .card-btn {
    width: 100%;
  }

  .card2,
  .card5 {
    background-image: url(assets/card2.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card3,
  .card6 {
    background-image: url(assets/card3.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card4 {
    background-image: url(assets/card4.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card > h1 {
    width: 80%;
    height: 81px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .card > p {
    width: 80%;
    height: 72px;
    overflow-wrap: break-word;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
  }

  .card ul {
    width: 80%;
    display: flex;
    align-items: center;
  }

  .card ul li {
    list-style: none;
    background-color: rgba(255, 255, 255, 0.24);
    padding: 10px 12px;
    margin: 0 12px 0 0;
    color: #fff;
  }

  .card > ul {
    margin-bottom: 16px;
  }

  /* ----- About me Section ---- */
  .about-me {
    background-color: #1c1a19;
    background-image: url(assets/about-me-desktop.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: top right;
    background-position-y: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .abt {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 192px 0;
    gap: 24px;
  }

  .abt > h1 {
    width: 56%;
    height: 78px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
    overflow-wrap: break-word;
  }

  .abt > p {
    width: 56%;
    height: 148px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
  }

  .abt-btn {
    width: 156px;
    height: 48px;
  }

  .abt_hr {
    width: 80%;
    height: 0;
    border: 1px solid #fff;
  }

  .experience {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 130px 0;
  }

  .language > ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .language > ul li h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .skills > ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .frameworks > ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .cont > p {
    width: 30%;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    overflow-wrap: break-word;
  }

  .f_contact > ul li {
    list-style: none;
    align-items: center;
  }

  .language > ul li ul li {
    list-style: none;
    padding: 32px 0 32px 0;
  }

  .language > ul li ul li p {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    display: flex;
    align-items: center;
  }

  .skills > ul li h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .skills > ul li ul li {
    list-style: none;
    padding: 32px 0 32px 0;
  }

  .skills > ul li ul li p {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    display: flex;
    align-items: center;
  }

  .frameworks > ul li h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .frameworks > ul li ul li {
    list-style: none;
    padding: 32px 0 32px 0;
  }

  .frameworks > ul li ul li p {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    display: flex;
    align-items: center;
  }

  /* --- Contact form Section --- */

  .contact-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 130px 0;
    gap: 24px;
  }

  .cont {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 24px;
  }

  .contact-form {
    width: 70%;
  }

  .contact-form > form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .form-input {
    display: flex;
    width: 100%;
    gap: 24px;
  }

  .form-input > input {
    width: 50%;
    border: none;
    border-bottom: 1px solid #dbd8d7;
    padding: 14px;
  }

  #email {
    border: none;
    border-bottom: 1px solid #dbd8d7;
    padding: 14px;
  }

  #lastName {
    display: block;
  }

  input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  #message {
    background: #fbf8f7;
    padding: 12px;
    border: none;
  }

  textarea::placeholder {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #3c3a39;
  }

  .form-btn {
    padding: 12px;
    gap: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
  }
}
